<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>#year</key>
		<string>2007</string>
		<key>01</key>
		<string>1113191201</string>
		<key>02</key>
		<string>1214180101</string>
		<key>03</key>
		<string>0112190201</string>
		<key>04</key>
		<string>0214170301</string>
		<key>05</key>
		<string>0315170401</string>
		<key>06</key>
		<string>0416150501</string>
		<key>07</key>
		<string>0517140601</string>
		<key>08</key>
		<string>0619130701</string>
		<key>09</key>
		<string>0720110801</string>
		<key>10</key>
		<string>0821110901</string>
		<key>11</key>
		<string>0922101001</string>
		<key>12</key>
		<string>1022101101</string>
	</dict>
	<dict>
		<key>#year</key>
		<string>2008</string>
		<key>01</key>
		<string>1123081201</string>
		<key>02</key>
		<string>1225070101</string>
		<key>03</key>
		<string>0124080201</string>
		<key>04</key>
		<string>0225060301</string>
		<key>05</key>
		<string>0326050401</string>
		<key>06</key>
		<string>0428040501</string>
		<key>07</key>
		<string>0528030601</string>
		<key>08</key>
		<string>0701310801</string>
		<key>09</key>
		<string>0802290901</string>
		<key>10</key>
		<string>0903291001</string>
		<key>11</key>
		<string>1004281101</string>
		<key>12</key>
		<string>1104271201</string>
	</dict>
	<dict>
		<key>#year</key>
		<string>2009</string>
		<key>01</key>
		<string>1206260101</string>
		<key>02</key>
		<string>0107250201</string>
		<key>03</key>
		<string>0205270301</string>
		<key>04</key>
		<string>0306250401</string>
		<key>05</key>
		<string>0407240501</string>
		<key>06</key>
		<string>0509230501</string>
		<key>07</key>
		<string>0509220601</string>
		<key>08</key>
		<string>0611200701</string>
		<key>09</key>
		<string>0713190801</string>
		<key>10</key>
		<string>0813180901</string>
		<key>11</key>
		<string>0915171001</string>
		<key>12</key>
		<string>1015161101</string>
	</dict>
	<dict>
		<key>#year</key>
		<string>2010</string>
		<key>01</key>
		<string>1117151201</string>
		<key>02</key>
		<string>1218140101</string>
		<key>03</key>
		<string>0116160201</string>
		<key>04</key>
		<string>0217140301</string>
		<key>05</key>
		<string>0318140401</string>
		<key>06</key>
		<string>0419120501</string>
		<key>07</key>
		<string>0520120601</string>
		<key>08</key>
		<string>0621100701</string>
		<key>09</key>
		<string>0723080801</string>
		<key>10</key>
		<string>0824080901</string>
		<key>11</key>
		<string>0925061001</string>
		<key>12</key>
		<string>1026061101</string>
	</dict>
	<dict>
		<key>#year</key>
		<string>2011</string>
		<key>01</key>
		<string>1127041201</string>
		<key>02</key>
		<string>1229030101</string>
		<key>03</key>
		<string>0127050201</string>
		<key>04</key>
		<string>0228030301</string>
		<key>05</key>
		<string>0329030401</string>
		<key>06</key>
		<string>0430020501</string>
		<key>07</key>
		<string>0601310701</string>
		<key>08</key>
		<string>0702290801</string>
		<key>09</key>
		<string>0804270901</string>
		<key>10</key>
		<string>0905271001</string>
		<key>11</key>
		<string>1006251101</string>
		<key>12</key>
		<string>1107251201</string>
	</dict>
	<dict>
		<key>#year</key>
		<string>2012</string>
		<key>01</key>
		<string>1208230101</string>
		<key>02</key>
		<string>0110220201</string>
		<key>03</key>
		<string>0209220301</string>
		<key>04</key>
		<string>0311210301</string>
		<key>05</key>
		<string>0311210401</string>
		<key>06</key>
		<string>0412200501</string>
		<key>07</key>
		<string>0512190601</string>
		<key>08</key>
		<string>0614180701</string>
		<key>09</key>
		<string>0715160801</string>
		<key>10</key>
		<string>0816150901</string>
		<key>11</key>
		<string>0918141001</string>
		<key>12</key>
		<string>1018131101</string>
	</dict>
	<dict>
		<key>#year</key>
		<string>2013</string>
		<key>01</key>
		<string>1120121201</string>
		<key>02</key>
		<string>1221100101</string>
		<key>03</key>
		<string>0120120201</string>
		<key>04</key>
		<string>0221100301</string>
		<key>05</key>
		<string>0322100401</string>
		<key>06</key>
		<string>0423090501</string>
		<key>07</key>
		<string>0523080601</string>
		<key>08</key>
		<string>0625070701</string>
		<key>09</key>
		<string>0726050801</string>
		<key>10</key>
		<string>0827050901</string>
		<key>11</key>
		<string>0928031001</string>
		<key>12</key>
		<string>1029031101</string>
	</dict>
	<dict>
		<key>#year</key>
		<string>2014</string>
		<key>01</key>
		<string>1201310101</string>
		<key>02</key>
		<string>0102290201</string>
		<key>03</key>
		<string>0201310301</string>
		<key>04</key>
		<string>0302290401</string>
		<key>05</key>
		<string>0403290501</string>
		<key>06</key>
		<string>0504270601</string>
		<key>07</key>
		<string>0605270701</string>
		<key>08</key>
		<string>0706250801</string>
		<key>09</key>
		<string>0808240901</string>
		<key>10</key>
		<string>0908240901</string>
		<key>11</key>
		<string>0909221001</string>
		<key>12</key>
		<string>1010221101</string>
	</dict>
	<dict>
		<key>#year</key>
		<string>2015</string>
		<key>01</key>
		<string>1111201201</string>
		<key>02</key>
		<string>1213190101</string>
		<key>03</key>
		<string>0111200201</string>
		<key>04</key>
		<string>0213190301</string>
		<key>05</key>
		<string>0313180401</string>
		<key>06</key>
		<string>0415160501</string>
		<key>07</key>
		<string>0516160601</string>
		<key>08</key>
		<string>0617140701</string>
		<key>09</key>
		<string>0719130801</string>
		<key>10</key>
		<string>0819130901</string>
		<key>11</key>
		<string>0920121001</string>
		<key>12</key>
		<string>1020111101</string>
	</dict>
	<dict>
		<key>#year</key>
		<string>2016</string>
		<key>01</key>
		<string>1122101201</string>
		<key>02</key>
		<string>1223080101</string>
		<key>03</key>
		<string>0123090201</string>
		<key>04</key>
		<string>0224070301</string>
		<key>05</key>
		<string>0325070401</string>
		<key>06</key>
		<string>0426050501</string>
		<key>07</key>
		<string>0527040601</string>
		<key>08</key>
		<string>0629030701</string>
		<key>09</key>
		<string>0801310901</string>
		<key>10</key>
		<string>0901311001</string>
		<key>11</key>
		<string>1002291101</string>
		<key>12</key>
		<string>1103291201</string>
	</dict>
	<dict>
		<key>#year</key>
		<string>2017</string>
		<key>01</key>
		<string>1204280101</string>
		<key>02</key>
		<string>0105260201</string>
		<key>03</key>
		<string>0204280301</string>
		<key>04</key>
		<string>0305260401</string>
		<key>05</key>
		<string>0406260501</string>
		<key>06</key>
		<string>0507240501</string>
		<key>07</key>
		<string>0508230601</string>
		<key>08</key>
		<string>0610220701</string>
		<key>09</key>
		<string>0711200801</string>
		<key>10</key>
		<string>0812200901</string>
		<key>11</key>
		<string>0913181001</string>
		<key>12</key>
		<string>1014181101</string>
	</dict>
	<dict>
		<key>#year</key>
		<string>2018</string>
		<key>01</key>
		<string>1115171201</string>
		<key>02</key>
		<string>1216160101</string>
		<key>03</key>
		<string>0114170201</string>
		<key>04</key>
		<string>0216160301</string>
		<key>05</key>
		<string>0316150401</string>
		<key>06</key>
		<string>0418140501</string>
		<key>07</key>
		<string>0518130601</string>
		<key>08</key>
		<string>0620110701</string>
		<key>09</key>
		<string>0722100801</string>
		<key>10</key>
		<string>0822090901</string>
		<key>11</key>
		<string>0924081001</string>
		<key>12</key>
		<string>1024071101</string>
	</dict>
	<dict>
		<key>#year</key>
		<string>2019</string>
		<key>01</key>
		<string>1126061201</string>
		<key>02</key>
		<string>1227050101</string>
		<key>03</key>
		<string>0125070201</string>
		<key>04</key>
		<string>0226050301</string>
		<key>05</key>
		<string>0327050401</string>
		<key>06</key>
		<string>0428030501</string>
		<key>07</key>
		<string>0529030601</string>
		<key>08</key>
		<string>0701300801</string>
		<key>09</key>
		<string>0803290901</string>
		<key>10</key>
		<string>0903281001</string>
		<key>11</key>
		<string>1005271101</string>
		<key>12</key>
		<string>1105261201</string>
	</dict>
	<dict>
		<key>#year</key>
		<string>2020</string>
		<key>01</key>
		<string>1207250101</string>
		<key>02</key>
		<string>0108240201</string>
		<key>03</key>
		<string>0207240301</string>
		<key>04</key>
		<string>0309230401</string>
		<key>05</key>
		<string>0409230401</string>
		<key>06</key>
		<string>0410210501</string>
		<key>07</key>
		<string>0511210601</string>
		<key>08</key>
		<string>0612190701</string>
		<key>09</key>
		<string>0714170801</string>
		<key>10</key>
		<string>0815170901</string>
		<key>11</key>
		<string>0916151001</string>
		<key>12</key>
		<string>1017151101</string>
	</dict>
	<dict>
		<key>#year</key>
		<string>2021</string>
		<key>01</key>
		<string>1118131201</string>
		<key>02</key>
		<string>1220120101</string>
		<key>03</key>
		<string>0118130201</string>
		<key>04</key>
		<string>0220120301</string>
		<key>05</key>
		<string>0320120401</string>
		<key>06</key>
		<string>0421100501</string>
		<key>07</key>
		<string>0522100601</string>
		<key>08</key>
		<string>0623080701</string>
		<key>09</key>
		<string>0725070801</string>
		<key>10</key>
		<string>0825060901</string>
		<key>11</key>
		<string>0927051001</string>
		<key>12</key>
		<string>1027041101</string>
	</dict>
	<dict>
		<key>#year</key>
		<string>2022</string>
		<key>01</key>
		<string>1129031201</string>
		<key>02</key>
		<string>0101990000</string>
		<key>03</key>
		<string>0129030201</string>
		<key>04</key>
		<string>0301990000</string>
		<key>05</key>
		<string>0401300501</string>
		<key>06</key>
		<string>0503290601</string>
		<key>07</key>
		<string>0603290701</string>
		<key>08</key>
		<string>0704270801</string>
		<key>09</key>
		<string>0806260901</string>
		<key>10</key>
		<string>0906251001</string>
		<key>11</key>
		<string>1008241101</string>
		<key>12</key>
		<string>1108231201</string>
	</dict>
</array>
</plist>
